{% extends 'blog/base.html' %}
{% load threadedcomments_tags %}
 {% block header%}

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <style type="text/css">
        BODY {

        }

        .message {
            width: 300px;
            background-color: #faf0e6;
            border-radius: 10px;
        }

        .message * {
            padding: 10px;
        }

        .title {
            font-weight: bold;
        }

        /* BEGIN COMMENTS */

        .comment {
            padding: 10px;
            margin: 10px;
            position: relative;
        }

        .comment_li {
            list-style: none;

        }

        .comment_last {
            padding: 10px;
            margin: 10px;
        }

        .comment_info {
            line-height: 24px;
            position: relative;
        }

        .comment_user {
            text-decoration: underline;
            margin-right: 10px;
            font-weight: bold;
            color: #666;
            font-size: .99em;
            cursor: pointer;
            float: left;
        }

        .comment_data {
            font-size: 11px;
            color: #666;
            margin-top: 10px;
        }

        .comment_text {
            margin-top: 10px;
            float: inherit;
            font-size: 1.08em;
            color: black;
        }

        .comment_reply_link {
            color: #004276;
            outline: none;
            text-decoration: none;
            vertical-align: baseline;
        }

        .comments_length {
            padding-left: 45px;
            font-weight: bold;
        }

        #form-comment {
            padding: 15px;
            margin: 15px;
            background-color: #faf0e6;
            width: 500px;
        }

        form label {
            float: left;
            width: 230px;
        }

        label[for=id_honeypot],
        #id_honeypot {
          display: none;
        }

        #cancel_reply {
            display: none;
        }

        .comments #cancel_reply {
          display: inline;
        }

        /* END COMMENTS */

    </style>
               <script type="text/javascript">

        function show_reply_form(event) {
            var $this = $(this);
            var comment_id = $this.data('comment-id');

            $('#id_parent').val(comment_id);
            $('#form-comment').insertAfter($this.closest('.comment'));
        };

        function cancel_reply_form(event) {
            $('#id_comment').val('');
            $('#id_parent').val('');
            $('#form-comment').appendTo($('#wrap_write_comment'));
        }

        $.fn.ready(function() {
            $('.comment_reply_link').click(show_reply_form);
            $('#cancel_reply').click(cancel_reply_form);
        })

    </script>

    {% endblock %}
   {% block page%}

    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-dark" href="/">Главная</a></li>
                <li class="breadcrumb-item"><a class="text-dark" href="/subject/">Темы </a></li>
                <li class="breadcrumb-item"><a class="text-dark" href="{% url 'subject_detail' url=post.get_subject%}">{{post.subject}}</a></li>
                <li class="breadcrumb-item"><a class="text-dark" href="{% url 'blog_post_subject' subject=post.get_subject%}">Посты</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{post}}</li>
            </ol>
    </nav>

   <!-- <nav class="nav">
        <a class="nav-link active" href="/">Главная </a>
        <a class="nav-link" href="/subject/">Темы</a>
        <a class="nav-link" href="{% url 'subject_detail' url=post.get_subject%}">{{post.subject}}</a>
        <a class="nav-link disabled" href="#">{{post}}</a>
    </nav>-->

    <div class="post">


        <div class="d-flex flex-row bd-highlight mb-3">
                <div class="p-2 bd-highlight"><img src="../../../../media/{{post.author.photo }}" width="49" height="49" alt="{{post.author.user}}" class="rounded"></div>
                <div class="p-2 bd-highlight align-self-center">Автор: {{post.get_user}}.</div>
                <div class="p-2 bd-highlight align-self-center">
                    {% if post.published_date %}
                    <div class="date">
                        Опубликовано: {{ post.published_date }}.
                    </div>
                    {% endif %}
                </div>
        </div>


        <h1>{{ post.title }}</h1>
        <p align="justify">{{ post.text|linebreaksbr }}</p>
       


    {% get_comment_list for post as comment_list %}

    <div class="comments_wrapper" id="comments">
        <div class="comments_length">
            <p>{{ comment_list|length }} Comments</p>
        </div>

        <div class="comments">
            {% for comment in comment_list|fill_tree|annotate_tree %}{% ifchanged comment.parent_id %}{% else %}</li>{% endifchanged %}{% if not comment.open and not comment.close %}</li>{% endif %}{% if comment.open %}
                <ul>{% endif %}
            <li class="comment_li" id="c{{ comment.id }}">{# c## is used by the absolute URL of the Comment model, so keep that as it is. #}
                <div class="comment">
                    <div class="comment_info">
                        <div class="comment_user">{{ comment.user_name }}</div>
                        <div class="comment_data">
                            {{ comment.submit_date|date:"d M Y, H:i" }}
                          | <a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment_reply_link">Ответить</a>
                        </div>
                    </div>
                    <div class="comment_text">
                        {{ comment.comment }}
                    </div>
                </div>
                {% for close in comment.close %}</li></ul>{% endfor %}

            {% endfor %}
        </div>

        <div id="wrap_write_comment">
            <div id="form-comment">
                {% get_comment_form for post as form %}
                <form action="/comments/post/" method="post">{% csrf_token %}
                    {{ form.as_p }}{# just to keep the example simple. Consider using django-crispy-forms in real life #}

                    <p>
                        <button type="submit" class="btn btn-primary">Ответить</button>

                      <a href="#c0" id="cancel_reply">Закончить ответ</a>
                    </p>
                </form>
            </div>
        </div>
    </div>





{% endblock %}